# Listas

* Una lista es un conjunto de elementos que pueden ser de igual o diferentes tipo, contenidos dentro de una variable.

* Puede contener cualquier objeto dentro

In [13]:
lista = ["camilo","juan",24,34]
lista2 = ["perro","gato","pez",lista]
lista2[3][1] #acceder a un indece dentro de una lista que está dentro de otra lista
lista2[0][1]

'e'

### Agregar elemento  al final de la lista con append()

In [14]:
lista2.append("Lorena")
lista2

['perro', 'gato', 'pez', ['camilo', 'juan', 24, 34], 'Lorena']

### Agregar(insertar) elemento en un determinado indice con insert()
* el valor que estaba en el indice indicado, se corre una posición hacia la derecha

In [17]:
lista2.insert(1,"Gorila")
lista2

['perro',
 'Gorila',
 'Gorila',
 'Gorila',
 'gato',
 'pez',
 ['camilo', 'juan', 24, 34],
 'Lorena']

### Contar cuantas veces se repite un mismo elemento con count()

In [18]:
lista2.count("Gorila")

3

### Conocer el indice de un valor con index()

In [20]:
lista2.index("pez")

5

### Copiar elementos con copy()
* Si se hace con = , se modificara la lista vieja y la nueva, en cambio con copy no se modifica la nueva

In [26]:
lista_vieja = [1,2,3,4,5,6]
lista_nueva = lista_vieja
lista_nueva

lista_vieja.append(8)
lista_nueva

list_vieja = [1,2,3,4,5]
list_nueva = list_vieja.copy()
list_nueva

list_vieja.append(12)
list_nueva

[1, 2, 3, 4, 5]

In [27]:
list_vieja

[1, 2, 3, 4, 5, 12]

### Extender es iterar por un string e ir indexando cada carácter por separado con extend()

In [28]:
lista.extend("python")
lista

['camilo', 'juan', 24, 34, 'p', 'y', 't', 'h', 'o', 'n']

### Eliminar último elemento de la lista y retornarlo con pop()

In [30]:
rec = lista.pop()
rec

'o'

### Eliminar un valor por propieda, pero sin retornar el valor eliminado con remove()

In [33]:
lista3 = ["uno",2,"tres",4]
lista3.remove("tres")

In [37]:
lista3.remove(2)
lista3

[4]

### Invertir el orden de los elementos de la lista con reverse()

In [39]:
lista2.reverse()
lista2

['Lorena',
 ['camilo', 'juan', 24, 34, 'p', 'y', 't', 'h'],
 'pez',
 'gato',
 'Gorila',
 'Gorila',
 'Gorila',
 'perro']

### Ordenar los elementos de una lista, númerica y alfabéticamente con sort()
* Tener en cuenta que sean del mismo tipo todos los elementos

In [5]:
lista_num = [864,89,2,42,0,254,62,425]
lista_text = ["Juan","Camila","Pedro","Zion","Alemania"]
lista_num.sort()
lista_text.sort()
print(lista_num)
print(lista_text)

[0, 2, 42, 62, 89, 254, 425, 864]
['Alemania', 'Camila', 'Juan', 'Pedro', 'Zion']

### Eliminar todos los elementos de la lista de una sola vez con clear()

In [8]:
lista_num.clear()
lista_num

[]